body{
    background: slategray;
}   

.login-container{
    width: 400px; 
    margin-top:50px;
    text-align: center;
}  

p{  
    font-family: sans-serif;
    margin: 10px 0!important; 
}  

i{
    font-family: sans-serif;
}